<form action="/products/create" method="POST">
    <h1>Cadastre um produto</h1>
    <div class="form-control">
        <label for="name">Dgite o nome do produto: </label>
        <input type="text" name="name" placeholder="Digite o nome do produto.">
    </div>
    <div class="form-control">
        <label for="image">Dgite o endereço do produto: </label>
        <input type="text" name="image" placeholder="Insira  a imagem do produto.">
    </div>
    <div class="form-control">
        <label for="price">Dgite o preço do produto: </label>
        <input type="text" name="price" placeholder="Digite o preço do produto.">
    </div>
    <div class="form-control">
        <label for="name">Dgite a descrição do produto: </label>
        <textarea name="description" ></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>